/* CSS HEX
--oxford-blue: #0b132bff;
--space-cadet: #1c2541ff;
--independence: #3a506bff;
--maximum-blue-green: #5bc0beff;
--white: #ffffffff;
 */

.App {
  text-align: center;
  background-color: #ffffff;
}

nav {
  display: flex;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  background-color: #5bc0beff;
}

nav a, 
main a {
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all 0.2s;
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
  color: #0b132bff;
}

nav a:hover{
  border-bottom: 1px solid #0b132bff;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10% 5% 10%;
  padding: 2%;
}

form label, 
form input, 
form select, 
form button {
  margin: 5px 0;
  font-family: 'Rubik', sans-serif;
  width: 30%;
  box-sizing: border-box;
}

form input:focus, 
form button:focus {
  outline: 1px solid #0b132bff;
}

form h4 {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  color: #3a506bff;
  text-shadow: 1px 1px 1px #0b132bff;
}

form label {
  color: #3a506bff;
  font-weight: 600;
  text-shadow: 1px 1px 1px #0b132bff;
}

form input,
form select,
form button {
  font-weight: 600;
  transition: all 0.2s;
  box-sizing: border-box;
  box-shadow: 5px 5px 8px #1c2541ff;
  padding: 5px;
}

form button {
  background-color: #3a506bff;
  color: #ffffff;
  padding: 3px;
  margin: 20px 0 0 0;
}

form button:hover {
  color: #3a506bff;
  background-color: #5bc0beff;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.offense,
.defense {
  border: 2px solid #1c2541ff;
  padding: 50px 100px;
  margin: 20px;
  border-radius: 5px;
}

.offense:hover,
.defense:hover,
.play-list:hover {
  box-shadow: 5px 5px 8px #1c2541ff;
}

.offense h3,
.defense h3,
.play-list h3 {
  margin: 0;
}

.offense,
.defense {
  display: flex;
}

.play img {
  height: 100px;
  width: auto;
  margin: 20px;
}

.offense img,
.defense img {
  height: 20px;
  padding: 0 30px;
}

.play {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 50px);
  width: 80%;
  margin: 20px auto;
}

.play img {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  height: 10em;
  justify-self: center;
}

.play h2,
.play p,
.play h5 {
  grid-column: 2 / 3;
  text-align: left;
  align-self: center;
  margin: 0px;
}

.play-list {
  border: 2px solid #1c2541ff;
  padding: 50px;
  margin: 20px 30%;
  border-radius: 5px;
}

.foot {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  background-color: #5bc0beff;
}

.footer-img {
  width: 50px;
  height: auto;
}
